@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Starjedi";
    src: local('Starjedi'), url(../../public/Starjedi.ttf);
}

html {
    font-family: 'Starjedi';
}
